@charset 'utf-8';
@import url(./AppFont.css);
@import url(./Common.css);

/* 검색 결과가 없을 때 */
.nothing-info {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nothing-info h2 {
  font-size: 5rem;
}
.nothing-info p {
  margin-top: 2rem;
}
.nothing-info span {
  font-size: 13px;
  opacity: 0.5;
}

/* 검색 결과가 있을 때 */
.container {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  font-family: 'GmarketSansMedium';
}

.container .weather-page {
  width: 480px;
  min-width: 320px;
  height: 100%;
  margin: 0 auto;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  overflow: hidden;

  position: relative;
  z-index: 1;
}

/* header */
.container .weather-page .header {
  width: 100%;
  height: 45px;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 10px 20px;
  background-color: #000;
  color: #eee;
}
.container .weather-page .header h1 {
  font-size: 20px;
}
.container .weather-page .header p {
  font-size: 12px;
}
.container .weather-page .header a {
  color: #eee;
}
.container .weather-page .header a:active {
  color: #aaa;
}

/* contents */
.container .weather-page .weather-page-container {
  height: 100%;
  padding: 0 30px;
}

.container .weather-page .weather-slide {
  height: 80vh;
}

.container .weather-page .weather-page-first {
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.container .weather-page .search-city {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #000;
}

.container .weather-page .city-title {
  width: 380px;
  height: 100%;
  padding: 0 1rem;
  font-size: 1.5rem;
  border: 0;
  letter-spacing: -0.5px;
  background-color: transparent;
  font-family: 'GmarketSansMedium';
}

.container .weather-page .search-btn {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  margin-left: 20px;
}

.container .weather-page .today-now {
  display: flex;
  align-items: center;
  margin-top: 30px;
  font-size: 18px;
}

.container .weather-page .today-now span {
  width: 20px;
  height: 1.5px;
  margin: 0 10px;
  background-color: #000;
}

.weather-page .current-weather .key-info .key-info-top .city-name {
  margin: 15px 0;
}

.weather-page .current-weather .key-info .key-info-top .current-temp {
  display: inline-block;
  font-size: 9rem;
  letter-spacing: -5px;
  font-weight: bold;
}

.weather-page .current-weather .key-info .key-info-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 1.5rem 0;
}

.weather-page .current-weather .key-info .key-info-bottom .current-main {
  font-size: 3rem;
  line-height: 3rem;
  letter-spacing: -1.5px;
}

.weather-page .current-weather .key-info .key-info-bottom .key-info-bottom-right {
  display: flex;
  align-items: center;
}
.weather-page .current-weather .key-info .key-info-bottom .key-info-bottom-right span {
  width: 15px;
  height: 2px;
  margin: 0 5px;
  background-color: #000;
}

.weather-page .current-weather .sub-info {
  border-left: 5px solid #000;
}

.weather-page .current-weather .sub-info p {
  padding-left: 10px;
}

.weather-page .current-weather .clothes-recomm {
  margin-top: 25px;
}
.weather-page .current-weather .clothes h4 {
  font-weight: bold;
}

/* 시간 별 기온 */
.container .weather-page .hourly-weather {
  border-top: 1px solid #000;
  margin-top: 25px;
}
.container .weather-page .hourly-weather h4 {
  font-weight: bold;
  margin: 25px 0 15px;
}
.container .weather-page .hourly-weather .hourly-class {
  display: flex;
  justify-content: space-between;
}
.container .weather-page .hourly-weather .hourly-class:not(:last-child) {
  margin-bottom: 10px;
}

.container .weather-page .hourly-weather .hourly-class .time {
  width: 40px;
}
.container .weather-page .hourly-weather .hourly-class .temp {
  width: 40px;
  text-align: center;
}
.container .weather-page .hourly-weather .hourly-class .day-main {
  width: 70px;
  text-align: right;
}

/* 주간 기온 */

.container .weather-page .weekly-weather {
  border-top: 1px solid #000;
  margin: 25px 0;
}
.container .weather-page .weekly-weather h4 {
  font-weight: bold;
  margin: 25px 0 15px;
}

.container .weather-page .weekly-weather .weekly-class {
  display: flex;
  justify-content: space-between;
}
.container .weather-page .weekly-weather .weekly-class:not(:last-child) {
  margin-bottom: 10px;
}

.container .weather-page .weekly-weather .weekly-class .date {
  width: 40px;
}
.container .weather-page .weekly-weather .weekly-class .temp {
  width: 40px;
  text-align: center;
}
.container .weather-page .weekly-weather .weekly-class .day-main {
  width: 70px;
  text-align: right;
}

.bg-color {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
