.container {
  width: 100%;
  height: 100%;
  position: relative;
}

.first-weather-page {
  position: relative;
  z-index: 1;
}

.bg-color {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
