* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-break: keep-all;
}

*:focus {
    outline: none;
}

*::-webkit-scrollbar {
    display: none;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}